* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
    font-family: Lato;
    font-weight: 300;
    color: #555;
}
header {
    background-color: #48CFAD;
    color: white;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 50px;
}

h1 {
    font-size: 1.0em;
    font-weight: 300;
}

.content {
    margin-left: 4%;
}

h2 {
    color: #48CFAD;
    font-size: 1.2em;
    font-weight: 400;
}

#hoofdNav {
    color: #48CFAD;
    width: 100%;
    display: inline-block;
    letter-spacing: 0.1em;
    position: fixed;
    z-index: 10;
    bottom: 0;
    border-top: 1px solid #48CFAD;
    background-color: white;
}

#hoofdNav ul {
    height: 50px;
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin: auto;
}

#hoofdNav li {
    width: 25%;
    display: inline-block;
    text-align: center;
    height: 50px;
    float: left;
    margin-left: auto;
}

#hoofdNav a:link {
    color: #48CFAD;
}

#hoofdNav a:visited {
    color: #48CFAD;
}

.icon-vac {
    font-size: 1.5em;
    margin-top: 10px;
}

.icon-berichten {
    font-size: 2em;
    margin-top: 10px;
}

.icon-groepen {
    font-size: 1.4em;
    margin-top: 12px;
}

.icon-nav {
    font-size: 1.1em;
    margin-top: 15px;
}
/* Navigatie student */

.icon-zoeken {
    font-size: 1.4em;
    margin-top: 12px;
}

.icon-fav {
    font-size: 1.4em;
    margin-top: 12px;
}

.main {
    color: white;
    background-color: #48CFAD;
}

.wrapper {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #555;
}

.terugKnop {
    position: absolute;
    left: 0%;
    width: 20%;
    height: 50px;
    top: 0;
}

.terugKnop img {
    width: 10px;
}
.plusKnop {
    position: absolute;
    left: 80%;
    width: 18%;
    height: 50px;
    top: 0;
}
.plusKnop img{
    width:20px;
}
.clearFix{
    clear:both;
}