.editKnop{
    position:absolute;
    left: 9%;
    top: 17px;
    width:23px;
}
.optieKnop{
    position: absolute;
    left:88%;
    top:17px;
    width:5px;
}
.bericht{
    background-color: #EEF3F5;
    margin-bottom: 5px;
    padding-bottom:20px;

}
.bericht h3{
    font-weight: 300;
    padding-top:20px;
    padding-bottom:10px;
    
}
.bericht p{
    max-height:40px;
    overflow:hidden;

}
.bericht p,.bericht h3{
    margin-left:10%;
    width:80%;
}
.wrapper{
    margin-bottom: 100px;
}
header{
    margin-bottom: 15px;
}
.orden{
    position:absolute;
    left:65%;
    overflow:hidden;
    width:35%;
    display:none;
}
.orden ul{
    font-size:0.7em;
    list-style-type: none;
}
.orden li{
    font-weight: 300;
    width:100%;
    margin-bottom:2px;
    background-color: rgba(0,0,0,0.75);
}
.klik{
    width:100%;
    height:100vh;
    position: fixed;

}
