header{
    position:fixed;
    width:100%;
    z-index: 100;
}
.wrapper{
    padding-top:70px;
}
.chatLinks{
    position: relative;
    left:0;
    margin-bottom:30px;
}
.chatRechts{
    position: relative;
    right:0;
    margin-bottom:30px;
}
.chatLinks .box{
    background-color: #EEF3F5;;
    width:60%;
    margin-left:10%;
    border-radius: 0em 1em 1em 1em;
    z-index:100;
    z-index: 10;
}
.chatRechts .box{
    background-color: #EEF3F5;
    width:60%;
    margin-left:30%;
    border-radius: 1em 0em 1em 1em;
    z-index:100;
    z-index: 10;
}
.box p{
    padding: 20px;
    color:#555;
}
.sturen{
    position: fixed;
    height:50px;
    bottom:0;
    background-color: #48CFAD;
    width:100%;
}

.sturen p{
    float:left;
    width:15%;
    box-sizing: border-box;
    padding:15px;
    color:white;
}
h1{
    font-size:0.8em;

}
input, select, textarea, button{
    font-family:inherit;
    color:white;
}
input[type=text]{
    background-color:#48CFAD;
    width:70%;
    border: 2px solid white;
    color:white;
    border-radius:0.4em;
    height:30px;
    box-sizing: border-box;
    padding-left:4%;
    padding-top:3px;
    margin-top:10px;
    margin-left:10%;
    float:left;
    font-size:1em;
    color:white;
}
