.groepen{
        width:45%;
        margin:2.5%;
        background-color:#EEF3F5;
        float:left;
        border-radius: 5px;
}

.groepen img{
        width:90%;        
        margin:5%;
        margin-top:20px;

}
.groepen h2{
        color: #555;
        text-align: center;
        font-size:1.5em;
        margin-bottom:20px;
}