.groepen{
        width:45%;
        margin:2.5%;
        background-color:#EEF3F5;
        float:left;
        border-radius: 5px;
        
}

.groepen img{
        width:90%;        
        margin:5%;
        margin-top:20px;

}
.groepen h2{
        color: #555;
        text-align: center;
        font-size:1.2em;
        margin-bottom:10px;
}
.groepen p{
        padding:10px;
        height:35px;
        overflow: hidden;
        text-align: center;
        font-size:0.8em;
        background-color:rgb(218,223,225);
        border-radius: 0 0 5px 5px;
    
}

header{
    margin-bottom: 20px;
}
br{
    clear:both;
}