img{
    width:30px;
    height:30px;
    border-radius:50%;
    float:left;
    margin-top:10px;
    margin-left:4%;
    margin-right:2%;
}

.profile {
    height: 50px;
    line-height: 50px;
    border-bottom: solid 1px #48CFAD;
}

.profile #name{
    text-transform: capitalize;
}

.noborderline{
    border-bottom: 0;
}

h2{
    margin-left:4%;
}

#afmelden {
    background-color: #DA4453;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color:white;
    font-weight:400;
    margin-top:20px
}

.lower{
    margin-top:30px;
}
    

    