.logo{
    width: 120px;
    height: 120px;
    display: block;
    margin: 50px auto 80px;
}

input{
    display: block;
    margin: 10px auto;
    padding: 5px 0;
    width: 90%;
    font-size: 1em;
    color: #48CFAD;
    background-color: #f5f7fa;
    border: 1px solid #48CFAD;
}

input.error{
    border: 1px solid #DA4453;
}

a.accountLink{
    font-size: 0.8em;
    text-decoration: none;
    color: #808080;
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 5%;
    clear: right;
}

.facebookLogin{
    background-color: #3B5998;
    color: #FFF;
    text-decoration: none;
    display: block;
    width: 90%;
    margin: 0 auto 50px;
    text-align: center;
    padding: 6px 0;
    border: 1px solid #3b5998;
}

.login{
    clear: both;
    display: block;
    font-size: 1.2em;
    color: #FFF;
    background-color: #48CFAD;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    margin-top: 130px;
} 