.logo {
    width: 120px;
    height: 120px;
    display: block;
    margin: 50px auto 80px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 5px 0;
    width: 90%;
    font-size: 1em;
    color: #48CFAD;
    background-color: #f5f7fa;
    border: 1px solid #555555;
    border-radius: 2px;
    text-indent: 10px;
    outline:none;
}
select{
    display: block;
    margin: 10px auto;
    padding: 5px 0;
    width: 90%;
    font-size: 1em;
    color: #48CFAD;
    background-color: #f5f7fa;
    border: 1px solid #48CFAD;
    text-indent: 10px;
}

input.error {
    border: 1px solid #DA4453;
}
input.ok{
    border: 1px solid #48CFAD;
}

a.accountLink {
    font-size: 0.8em;
    text-decoration: none;
    color: #808080;
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 5%;
    clear: right;
}

.facebookLogin {
    background-color: #48CFAD;
    color: #FFF;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 0 0 50px;
    margin-top: 10px;
    padding: 10px 0;
}

.login {
    clear: both;
    display: block;
    font-size: 1.2em;
    color: #FFF;
    background-color: #48CFAD;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    margin-top: 130px;
}

.fbIcoon {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: -5px;
    margin-left: 23%;
}