
img{
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:50px;
    width:120px;
    height:120px;
}
#knop{
    background-color: #48CFAD;
    color:white;
    height:40px;
    text-align: center;
    font-size:1.2em;
    vertical-align: middle;
    line-height: 40px;
    font-weight:400;
    margin:0;
    margin-top:30px;
}
.midden{
    display: inline-block;
    margin: 20px 0 0 20%;
    height:30px;
    
}
p{
    font-weight:400;
}
p:first-child{
    box-sizing: border-box;
    display:block;
    float: left;

}
p:last-child{
    box-sizing: border-box;
    color: #48CFAD;
    float: left;
}

input{
    display: block;
    margin: 10px auto;
    padding: 5px 0;
    width: 90%;
    font-size: 1em;
    color: #48CFAD;
    background-color: #f5f7fa;
    border: 1px solid #48CFAD;
    border-radius: 2px;
    text-indent: 10px;
    font-family: inherit;
}

form{
    clear:both;
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:90%
}
#studentform{
    display:none;
}




/*

https://proto.io/freebies/onoff/

*/


.onoffswitch {
    margin: 0 5px;
    float:left;
    position: relative; width: 35px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #48CFAD; color: #808080;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 5px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 16px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}