body{
    padding: 0 0 2em 0;
}

header{
    margin-bottom: 0;
}
header h1{
    float:left;
    margin-left:25%;
    width: 50%;
}
header a .new{
    margin: .3em;
    padding: 0;
    width: 30px;
    height: 30px;
}
.new{
    height:80%;
    float:right;
    margin-right:12px;
    margin-top:12px;
}
div.vacatures header{
    background: rgba(0,0,0,0);
    padding: 0;
    margin: .5em 0 0 0;
}
.vacatures header h2{
    text-align: left;
    font-size: .6em;
    font-weight: 400;
    margin-left: 10%;
}
#list{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5em 0;
    overflow: hidden;
}
#list > li{
    background-color: #EEF3F5;
    position: relative;
    margin: .5em 0;
    /*min-height: 6em;*/
    /*overflow: hidden;*/
}
.vacature{
    /*cursor: pointer;*/
    position: relative;
    right: 0;
}

.sliderOnTop{
    background: #DA4453;
    color: #efefef;
    position: absolute;
    height: 100%;
    top: 0;
    right: -12em;
    
    width: 12em;
    /*overflow: hidden;*/
}
.sliderOnTop ul{
    text-align: center;
    list-style-type: none;
    height: 100%;
}
.sliderOnTop ul li{
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
.sliderOnTop ul li img{
    width: 1.5em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sliderUnder{
    /*position: relative;*/
    /*height: 100%;*/
    overflow: hidden;
}
.sliderUnder .text{
    padding: 1.25em 0;
    margin: 0 0 0 5%;
    color: #555;
    width: 70%;
    /*height: 100%;*/
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
}
.sliderUnder .text h1{
    margin: 0 0 1em;
    font-weight: 400;
    font-size: 1.1em;
    
    line-height: 1.1em;
    max-height: 1.1em;
    overflow: hidden;
    /*font-weight: 500;
    font-size: 1.2em;*/
}
.sliderUnder .text p{
    font-size: 1em;
    color: #777;
}
.sliderUnder .messages{
    z-index: 10;
    display: block;
    width: 2.5em;
    min-height: 6em;
    position: absolute;
    right: 0;
    top: 0;
    
    
    /*text-align: center;
    display: inline-block;
    width: 15%;*/
    /*min-height: 6em;*/
    margin: 0 5% 0 0;
    /*overflow: hidden;*/
    /*float: right;*/
    /*position: relative;*/
    /*background: url(../img/msg.png) no-repeat center;*/
    background-size: 2.5em;
}

.sliderUnder .messages p{
    text-align: center;
    line-height: 2.5em;
    display: inline-block;
    color: #fff;
    background: #DA4453;
    border-radius: 100px;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 1.75em;
}




.clearfix:after 
{ 
 content: "."; 
 display: block; 
 clear: both; 
 visibility: hidden; 
 line-height: 0; height: 0; 
}

