
header a img{
    vertical-align: middle;
    line-height:100px;
}
h1{
    float:left;
    margin-left:33%
}
header{
    margin-bottom:50px;
}
.edit{
    text-align: left;
    float:left;
    vertical-align: middle;
    height:80%;
    margin-top:12px;
    margin-left:12px;
}
.remove{
    height:80%;
    float:right;
    margin-right:12px;
    margin-top:12px;
}
h3:first-child{
    float:left;
    display:block;
    width:30%;
    margin-bottom:40px;
}
h3:last-child {
    display:block;
    margin-bottom:20px;
    width:19%;
}
#vacatureimg{
    width:90%;
    margin-left:5%;
    height:400px;
    
}

ul li{
    text-decoration: none;
    list-style: none;
    padding-top:10px;
    padding-bottom:10px;
}

.item{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    border-bottom: 1px solid #48CFAD;
    margin-left:0;
    padding-bottom:80px;
    
}
.noborderline{
    border-bottom:0;
}
ul{
    margin-top:20px;
    padding-left: 5%;
}
.button{
    background-color: #48CFAD;
    height:127px;
    text-align: center;
    vertical-align: middle;
    line-height:127px;
    color:white;
    font-weight:400;
    margin-top:30px;
    font-size:3em;
}
.red{
    background-color: #DA4453
}
.title img{
    float:left;
    height:150px;
}
.title{
    height:150px;
}
.title h2{
    vertical-align: middle;
    line-height: 150px;
    height:150px;
    font-size:3em;
}
.item p{
    padding-left:5%;
}
.margintop{
    margin-top:50px;
}
    





















.onoffswitch {
    margin-top:20px;
    margin-right:2%;
    margin-left:5%;
    margin-bottom:40px;
    float:left;
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #48CFAD; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #48CFAD; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #999999; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 2.5px;
    background: #FFFFFF;
    border: 2px solid #48CFAD; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 46px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}





.onoffswitch2 {
    margin-left:5%;
    margin-right:2%;
    float:left;
    
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox2 {
    display: none;
}
.onoffswitch-label2 {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #48CFAD; border-radius: 50px;
}
.onoffswitch-inner2 {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner2:before, .onoffswitch-inner2:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner2:before {
    content: "";
    padding-left: 10px;
    background-color: #48CFAD; color: #FFFFFF;
}
.onoffswitch-inner2:after {
    content: "";
    padding-right: 10px;
    background-color: #999999; color: #999999;
    text-align: right;
}
.onoffswitch-switch2 {
    display: block; width: 25px; margin: 2.5px;
    background: #FFFFFF;
    border: 2px solid #48CFAD; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 46px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
    margin-left: 0;
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
    right: 0px; 
}